.student-form{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h3{
  color: #d35400;
  margin-bottom: 10px;
}

h3 i {
  margin-right: 1px;
  color: #e74c3c;
}
.tagline{
  color: #7f8c8d;
  font-size: 40px;
  margin-bottom: 30px;
  
}

.Input-group{
  margin-bottom: 20px;
  width: 100%;
  max-width: 350px;
}

.Input-field{
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.Input-field:focus{
  border-color: #e74c3c;
  outline: none;
}

.error{
  color: #c0392b;
  font-size: 0.9rem;
  margin-top: 5px;
  display: block;
}

.signup-btn{
  background-color: #e74c3c;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-left: -55px;
}

.signup-btn:hover{
  background-color: #c0392b;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  
}
.signup-btn i {
  margin-right: 8px;
}
