.register{
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: -100px;
}

.logo{
    width: 150px;
    height: auto;
    margin-bottom: 20px;  
}

.register h3{
    font-size: 30px;
    color: #333;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -60px;
    margin-bottom: 10px;
}

.register p{
    font-size: 20px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.login-link{
    margin-top: 20px;
    color: #7f8c8d;
}

.login-link a {
    text-decoration: none;
    color: #fa520b;
}

.login-link a:hover {
    text-decoration: underline;
}

