.SideBar{
    width: 250px;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    transition: width 0.3s ease;
    background-color: #2c3c50;
    color: white;
    padding-top: 100px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
}
.SideBar.closed {
    width: 60px; 
  }
.toggle-container{
    display: flex;
    justify-content: flex-end;
}
.toggle-button{
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.nav-list{
    list-style: none;
    padding: 0;
}

.nav-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 5px;
}
.nav-item:hover {
    transform: scale(1.05); 
}

.nav-icon{
    margin-right: 10px;
    font-size: 20px;
}

.badge {
    position: absolute;
    right: 10px;
    background: #a6ff00;
    color: #fff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }
  
  .logout-button {
    background: none;
    border: none;
    color: #FFD700;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.2s ease;
  }
  
  .logout-button:hover {
    transform: scale(1.05);
  }
  
  .logout-icon {
    font-size: 20px;
  }

.SideBar a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    display: block;
}

.SideBar a:hover{
    background-color: #34495e;
    border-radius: 5px;
    cursor: pointer;
}



.SideBar.closed .nav-icon {
  margin-right: 0; 
}


.SideBar.closed .nav-link {
  display: none; 
}


.SideBar.open .nav-link {
  display: inline-block;
}
